* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(17, 17, 80);
    
}

.parent {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: crimson;
    border: 2px solid white;
}