@mixin flexCenter ($direction) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header {
    @include flexCenter(column);
    background: $bgcolor;
    height: 50vh;
    gap: 15px;
    padding: 20px;

    h1 {
        color: crimson;
    }

    button {
        background: $btn-color;
        width: fit-content;
        padding: 5px;

        &:hover {
            background: palegoldenrod;
        }
    }
    
}