.body {
    background-color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
}

header > h1 {
    padding-top: 45px;
    
}

header > nav {
    background-color: rgb(41, 115, 233);
    color: white;
    padding: 15px 0;
    text-align: center;
}

header > nav > a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

header > nav > a:hover {
    color: lightpink;
}

article {
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    background-color: white;
    padding: 25px 15px;
    margin: 25px auto;
    box-sizing: border-box;
}

article > hr:nth-child(2) {
    border-style: dashed;
    border-color: lightgray;
}

article > img {
    margin: 4px 420px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}





